<!DOCTYPE html>
<!--Name<br>  mentor.mentor_name  <br>
EmailId<br>  mentor.mentor_emailid  <br>
Github<br>  mentor.mentor_github  <br>
Interests<br>
<ul>
     for value in mentor.mentor_interest
        <li>  dictionary|keyvalue:value  </li>
     endfor
</ul>-->
{% load static %}
{% load linkd_extras %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'linkd/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'linkd/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'linkd/footer.css' %}">
</head>
<body>
<div>
    {% include 'linkd/header.html' %}
    <div id="main">
        <form action="{%url 'linkd:index'%}" method="get">
            {% csrf_token %}
            <div id="search">
                <input type="text" name="search" value="{{ query }}" placeholder="Enter keywords (e.g. android)">
                <input type="submit" name="submit" value="">
            </div>
        </form>
        {% if mlist %}
            <div id="cardcontainer">
                {% for mentor in mlist %}
                    <a href="{% url 'linkd:getmentor' mentor.pk %}">
                        <div class="card">
                            <div class="avatar" style="background-color:{% get_color %};">{{ mentor.mentor_name|first|upper }}</div>
                            <div class="label">{{ mentor.mentor_name }}</div>
                        </div>
                    </a><br/>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include 'linkd/footer.html' %}
</div>
</body>
</html>