<a href="{% url 'linkd:form' %}">Form for seniors</a>

<form action="{%url 'linkd:index'%}" method="get">
	{% csrf_token %}
	<input type="text" name="search" placeholder="Enter your interest" required>
	<input type="submit" name="submit" value="Search">
</form>


{% if mlist %}
	{% for mentor in mlist %}
		{% load linkd_extras %}

        Name<br>{{mentor.mentor_name}}<br>
        EmailId<br>{{mentor.mentor_emailid}}<br>
        Github<br>{{mentor.mentor_github}}<br>
        Interests<br>
        <ul>
            {% for value in mentor.mentor_interest %}
                <li>{{dictionary|keyvalue:value}}</li>
            {% endfor %}
        </ul>
        <hr>

	{% endfor %}

{% endif %}


